html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}
body {
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    line-height: 24px;
    color: #2f3f54;
    font-size: 14px;
}
.header {
    border-top: 1px solid #3682e5;
}
a {
    color: #000;
    text-decoration: none;

}
.container  {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 87px;
}
.btn__menu {
    width: 45px;
    display: none;
}
.btn__menu div{
    height: 4px;
    background-color: #000;
    margin-bottom: 7px;
}
.menu__list {
    display: flex;
    text-transform: uppercase;
}
.menu__list li +  li{
    padding-left: 38px;
}
.menu__list a{
    font-size: 14px;
    color: #2f3f54;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}
.top {
    background-image: url(../images/bg.jpg);
    padding-top: 165px;
    padding-bottom: 180px;
}
.top__inner {
    display: flex;
}
.top-info {
    min-width: 555px;
    margin-right: 35px;
    color: #fff;
}
.top-info__subtitle {
    font-size: 19px;
    line-height: 24px;
}
.top-info__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 48px;
    line-height: 52px;
    text-transform: uppercase;
}
.top-info__descr {
    font-size: 19px;
    font-weight: 700;
    line-height: 52px;
    margin-bottom: 35px;
}
.top-info__descr span {
    font-size: 14px;
    line-height: 24px;
    display: block;
    font-weight: 400;
}
.top-info__list ul {
    list-style-image: url(../images/list-style.png);
    margin-bottom: 50px;
    padding-left: 20px;
}
.top-info__list li {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 3px;
}

.top-info__btn {
    border: 3px solid #fff;
    padding: 15px 40px;
    background-color: #267ae9;
    border-radius: 25px;
    color: #fff;
    text-transform: uppercase;

}
.top-info__btn:hover {
    background-color: #fff;
    border: 3px solid #267ae9;
    color: #267ae9;
    font-weight: 700;
    transition: 0.5s;
}
.top-info__btn-descr {
    padding-top: 37px;
}
.top-images__box {
    position: relative;
}
.top-images__circle {
    width: 229px;
    height: 229px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #212121;
    position: absolute;
    top: -45px;
    left: 250px;
}
.top-images__title {
    margin-bottom: 18px;
    text-align: left;
    width: 140px;
}
.top-images__price {
    font-size: 54px;
    font-weight: 700;
    margin-bottom: 8px;
}
.top-images__data {
    text-align: right;
    width: 140px;
}
.price {
    padding: 150px 180px;
    font-family: 'Roboto', sans-serif;
}
.title {
    text-align: center;
    font-size: 40px;
    line-height: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
.title span {
    color: #2575e7;
}
.price__descr {
    max-width: 580px;
    margin: 45px auto 125px;
    text-align: center;
    color: #4a6385;
    font-family: 'Lato', sans-serif;
}
.price__descr a {
    color: #e74c3c;
}
.price__descr span {
    color: #42d6c1;
}
.price__items {
    display: flex;
    justify-content: space-between;
}
.price-item {
    max-width: 360px; 
    box-shadow: 0px 21px 49px 1px rgba(41, 44, 61, 0.15);
    /* background-color: rgb(255, 255, 255); */
    padding: 0 50px 60px;
    position: relative;
    overflow: hidden;

}
.price-item__price {
    width: 260px;
    color: #fff;
    background-color: #267ae9;
    margin: 0 auto;
    height: 465px;
    position: absolute;
    top: -370px;
    border-radius: 136px;
    font-weight: 700;
    font-size: 33px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 40px;
}
.price-item__price span {
    font-size: 16px;
}
.price-item__images {
    padding-top: 120px;
    text-align: center;
    margin-bottom: 30px;
}
.price-item__title {
    margin-bottom: 25px;
    font-weight: 700;
    color: #267ae9;
    font-size: 32px;
    line-height: 50px;
}
.price-item__text {
    margin-bottom: 50px;
}
.price-item__list {
    margin-bottom: 75px;
}
.price-item__list li {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 12px;
    font-weight: 400;
    padding-left: 36px;
    position: relative;
    list-style-type: none;
}
.price-item__list li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(../images/price-list.png);
    width: 15px;
    height: 11px;
}
.price-item__btn {
    width: 360px;
    align-items: center;
    margin: 0 auto;
    background-color: #267ae9;
    color: #fff;
    font-weight: 700;
    font-size: 17px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 20px 10px;
}

.footer {
    background-image: url(../images/footer-bg.jpg);
    padding: 80px 0 125px;
    color: #718db2;
}
.footer__inner {
    display: flex;
    justify-content: space-between;
}
.footer-col__logo {
    width: 263px;
}
.footer-col {
}
.footer__logo img{
    margin-bottom: 30px;
}
.footer__text {
    font-size: 13px;
    line-height: 22px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.footer__title {
    font-size: 16px;
    color: #d0e4ff;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 30px;
}
.footer-menu {
    width: 165px;
}
.footer__list {
    font-size: 13px;
    line-height: 31px;
    list-style: none;
    margin-bottom: 8px;
}
.footer__list a {
    color: #718db2;
}
.footer-form {
    width: 263px;
}
.footer-form input, 
.footer-form textarea {
    border: 1px solid rgba(255, 255, 255, 0.05);  
    background-color: transparent; 
    height: 38px;
    display: block;
    width: 100%; 
    padding: 0 12px;
}
.footer-form input::placeholder, 
.footer-form textarea::placeholder {
    color: #718db2;
    font-size: 11px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
.footer-form textarea {
    padding: 12px;
    height: 85px;
    resize: none;
    margin-bottom: 10px;
}
.footer-form button {
    text-transform: uppercase;
    color: #fff;
    font-size: 11px;
    font-family: 'Roboto', sans-serif;
    border: none;
    background-color: #267ae9;
    padding: 10px;
    cursor: pointer;
}
.reviews {
    padding: 120px 0;
    background-color: #fafafa;
}
.reviews-slider {
    margin-top: 160px;
}
.reviews-slider .slick-slider {
    margin: 0 50px;
    padding-bottom: 70px;
}
.reviews-slider .slick-list {
    margin: 0 -50px;
}
.reviews-slider .slick-track {
    margin: 0 50px;
}
.reviews-slider .slick-dots {
    list-style: none;
    display: flex;
    justify-content: center;
}
.reviews-slider .slick-dots li {
    margin: 0 8px;
}
.reviews-slider .slick-dots li.slick-active button {
    background-color: #fff;
    border: 2px solid #267ae9;
}
.reviews-slider .slick-dots button{
    font-size: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    padding: 0;
    border: none;
    background-color: #267ae9;
    outline: none;
}
.reviews-box {
    display: flex;
    box-shadow: 0px 21px 49px 1px rgba(41, 44, 61, 0.15);
    padding-bottom: 50px;
}
.reviews-box__images {
    background-color: #267ae9;
    width: 190px;
    min-height: 350px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.reviews-box__images img {
    border-radius: 50%;
}
.reviews-box__content {
    background-color: #fff;
    width: 330px;
    font-size: 16px;
    line-height: 26px;
    padding: 0 40px;
    min-height: 350px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.reviews-box__text { 
    margin-bottom: 30px;
}
.reviews-box__author span {
    color: #267ae9;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
.partners {
    margin: 105px 0;
    padding: auto 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}
.partners-images + .partners-images {
    padding-left: 10px;
}
.partners-images .parthers-images1 {
    padding-bottom: 2px;
}

